#branch_selector_container {
  --hub-size: 0px;
  --branch-button-size: 0px;

  height: calc(var(--hub-size) + (var(--branch-button-size) + 10px) * 2);
  
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

#hub {
  width: fit-content;
  position: relative;
  display: grid;
  place-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#hub > svg {
  width: var(--hub-size);
  height: calc(var(--hub-size) / cos(30deg));
  fill: var(--hub-color);
  stroke: var(--hub-color);
}

.branch_button {
  --x: 0px;
  --y: 0px;
  position: absolute;
  width: var(--branch-button-size);
  aspect-ratio: 1 / 1;
  border-radius: 100%;
  background: var(--reef-color);
  color: white;
  cursor: pointer;
  top: 50%;
  left: 50%;
  transform: translate(calc(-50% + var(--x, 0px)), calc(-50% + var(--y, 0px)));
  display: flex;
  align-items: center;
  justify-content: center;
  transition: width 100ms;
  font-size: 1.15em;
}

.branch_button:hover {
  width: calc(var(--branch-button-size) * 1.25);
}

.branch_button.selected {
  background-color: var(--coral-color);
}
