#branch_selector_container {
  --hub-size: 0px;
  --branch-button-size: 0px;

  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

#hub {
  width: fit-content;
  position: relative;
  display: grid;
  place-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  aspect-ratio: 1 / cos(30deg);
  clip-path: polygon(50% -50%, 100% 50%, 50% 150%, 0 50%);
  background-color: var(--hub-color);
  width: var(--hub-size);
}

.rack_button {
  --x: 0px;
  --y: 0px;
  position: absolute;
  width: var(--branch-button-size);
  aspect-ratio: 1 / 1;
  border-radius: 100%;
  background: var(--reef-color);
  color: white;
  cursor: pointer;
  top: 50%;
  left: 50%;
  transform: translate(calc(-50% + var(--x, 0px)), calc(-50% + var(--y, 0px)));
  display: flex;
  align-items: center;
  justify-content: center;
  transition: width 100ms;
  font-size: 1.15em;
}

.rack_button:hover {
  width: calc(var(--branch-button-size) * 1.25);
}

.rack_button.selected {
  background-color: var(--algae-color);
}

.branch_text {
  --x: 0px;
  --y: 0px;
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(calc(-50% + var(--x, 0px)), calc(-50% + var(--y, 0px)));
  font-size: 1.15em;
  z-index: 100;
  cursor: default;
}

.branch_button {
  --rotation: 0;
  position: absolute;
  clip-path: polygon(100% 0, 100% 100%, 0 100%);
  aspect-ratio: 1 / sqrt(3);
  height: calc((var(--hub-size) * sqrt(3) / 4));
  rotate: var(--rotation);
}

.branch_button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-47.75%, -48.5%);
  width: 90%;
  background-color: var(--reef-color);
  clip-path: inherit;
  aspect-ratio: inherit;
}

.branch_button.selected::after {
  background-color: var(--coral-color);
}

.branch_button.left {
  transform: translate(-50%, 50%);
}

.branch_button.right {
  transform: scaleX(-1) translate(-50%, 50%);
}
