#staged_algae_selector_container {
  --staged-algae-button-size: 0px;

  display: flex;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  bottom: 0;
  padding: 15px;
}

.staged_algae_button_container {
  border-radius: 5px;
  display: flex;
  overflow: clip;
}

.staged_algae_button {
  min-width: var(--staged-algae-button-size);
  width: 100%;
  padding: 15px;
  background: var(--hub-color);
  color: white;
  cursor: pointer;
  display: flex;
  gap: 5px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: width 100ms;
  font-size: 0.85em;
  transition: filter 100ms;
  font-weight: 600;
  text-align: center;
}

.staged_algae_button.horizontal {
  flex-direction: row;
}

.staged_algae_button.small {
  font-size: 0.75em;
}

.staged_algae_button.small > svg {
  width: 16px;
}

.staged_algae_button > svg {
  stroke: 2px;
  width: 24px;
}

.staged_algae_button.selected {
  background-color: var(--scoring-color);
}
